<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.working.savch.was">

    <permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme"> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.working.savch.was.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.working.savch.was.login.LoginActivity"
            android:theme="@style/AppTheme.Dark">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.working.savch.was.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.working.savch.was.signup.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.working.savch.was.fingerPrint.FingerprintActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.working.savch.was.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.working.savch.was.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.working.savch.was.IntroActivity"
            android:label="@string/app_name" />
    </application>

</manifest>